.my-list {
    background-color: #ec1212;
    padding: 8px 24px;
    width: 500px;
    margin: 0 auto;
    font-size: 35px;
    border:1px solid #f7f381;
   
}
.my-list h1 {
    font-size: 45px;
    text-align: center;
}


.my-list ol {
    margin: 12px;
}

.my-list p {
    text-align: center;
}
